@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* root */
:root {
  --body-bg: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  --btn-bg: rgba(255, 255, 255, 0.6);
  --box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  --color: #fff;
}
/* body */
body {
  font-family: 'Nunito', sans-serif;
  height: 90vh;
  color: #222;
  font-size: 16px;
}
/* flex */
.d-flex {
  display: flex;
}
.flex-justify-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.flex-align-center {
  align-items: center;
}
.flex-justify-space {
  justify-content: space-between;
}
.flex-align-start {
  align-items: flex-start;
}
.text-center {
  text-align: center;
}
/* button */
.btn {
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 50rem;
  box-shadow: var(--box-shadow);
  padding: 0.7rem 2.5rem;
  margin: 0.5rem 0;
  transition: 0.1s ease-in-out;
}
.btn:active {
  transform: translateY(6px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
/* overlay */
#overlay {
  height: 100vh;
  background-image: var(--body-bg);
  overflow: hidden;
}
.d-translate {
  transform: translateY(-100%);
  transition: 0.5s ease-in-out;
}
.d-none {
  display: none;
}

#overlay .input_controls {
  background-color: var(--btn-bg);
  margin-bottom: 1rem;
  padding: 5rem;
  border-radius: 1rem;
  height: 50vh;
  box-shadow: var(--box-shadow);
}
#overlay .input_controls .overlay_input input {
  background-color: transparent;
  padding: 0.5rem;
  border: none;
  outline: none;
  margin: 1rem 0;
  transition: 0.5s ease-in-out;
  border-bottom: 2px solid #bf2e34;
  color: #bf2e34;
}
/* game */
#game {
  background-image: var(--body-bg);
  height: 0;
  overflow: hidden;
  transform: translateY(-100%);
  transition: 0.5s ease-in-out;
}
#game.d-translate-game {
  height: 100vh;
  transform: translateY(0%);
  transition: 0.5s ease-in-out;
}
/* player */
#player {
  flex-basis: 360px;
  background: var(--btn-bg);
  height: 80%;
  border-radius: 1rem;
  padding: 2rem;
}
#player h4 {
  padding: 0 1rem;
  text-transform: uppercase;
  width: 100px;
  margin: auto;
  overflow: hidden;
  text-align: start;
}
#player .range {
  margin: 0.5rem 0;
  padding: 3px;
  height: 11px;
  width: 130px;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  background-color: var(--btn-bg);
}
#player .score--fill {
  background-color: #bf2e34;
  width: 0%;
  height: 5px;
  border-radius: 1rem;
}
/* tryBtn */
.tryBtn {
  padding: 1rem;
}
.tryAgain {
  animation: glow 1s infinite;
  transition: 0.5s;
}
@keyframes glow {
  0% {
    box-shadow: 5px 5px 20px rgb(81, 224, 210), -5px -5px 20px rgb(81, 224, 210);
  }

  50% {
    box-shadow: 5px 5px 20px rgba(81, 224, 210, 0),
      -5px -5px 20px rgba(81, 224, 210, 0);
  }
  100% {
    box-shadow: 5px 5px 20px rgb(81, 224, 210), -5px -5px 20px rgb(81, 224, 210);
  }
}
/* dice img */
.diceImg img {
  width: 100px;
  height: 100px;
  border-radius: 1rem;
}
.rolling {
  animation: rolling 1s infinite;
  background-size: 100%;
}
@keyframes rolling {
  0% {
    background-image: url(./dice-1.png);
  }
  15% {
    background-image: url(./dice-2.png);
  }
  30% {
    background-image: url(./dice-5.png);
  }
  45% {
    background-image: url(./dice-4.png);
  }
  60% {
    background-image: url(./dice-6.png);
  }
  60% {
    background-image: url(./dice-4.png);
  }
  75% {
    background-image: url(./dice-3.png);
  }
  88% {
    background-image: url(./dice-1.png);
  }
  100% {
    background-image: url(./dice-6.png);
  }
}
/* current */
.current {
  padding: 1rem;
  background: var(--btn-bg);
  border-radius: 1rem;
  margin-top: 1rem;
}
/*  */
.diceBtn {
  padding: 1rem;
}
/* active Player */
.activePlayer h4 {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.activePlayer h4::before {
  content: '';
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 1rem;
  background-color: #04aa6d;
  display: block;
  position: absolute;
  left: 12px;
}
.winner h4::after {
  content: '';
  width: 0%;
  position: absolute;
  right: 0;
  height: 20px;
  background: #f7d000;
  animation: win 2s infinite;
  z-index: -1;
}
@keyframes win {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
